#Draw.io
*.dtmp
*.bkp

#vscode
.vscode/
.code-workspace

# Eclipse
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

#IntelliJ
.idea/
out/
.idea_modules/
*.iml
*.ipr
*.iws


#Others
/.metadata/
.settings/

#Java
.jar
out/
